# FO Technical Assignment

In [58]:
# Import relevent libraries

import os
import numpy as np
import pandas as pd
from collections import Counter

# Change Directory

os.chdir("C:\\Users\\sawal\\Desktop\\MachLearn")

In [59]:
# Import sample dataframe

df = pd.read_csv("Practice_File.csv") # Data from cells A3-E9 on excel document

# Part 1

## Question 1: What is the average sales per female customer?

In [60]:
# Create a new variable that strips the "$" symbol and converts column to int 
# for analysis

df['Sale_Amt_Adj'] = df.Sale_Amt.str.slice(start = 1).astype(int)

# Create mean variable for all Female customers

f_avg_sale = df.Sale_Amt_Adj[df.Gender == "F"].mean()

print('The average amount of sales for a female customer is ${0:.2f}'.format(f_avg_sale))

The average amount of sales for a female customer is $90.75

## Question 2a: How many customers have only ordered once?

In [61]:
# Create counter object

order_count = Counter(df.Cust_Id)

# Iterate through the Counter and sum the number of single counts

one_order_tot = 0
for _, count in order_count.most_common():
    if count == 1:
        one_order_tot += 1
        
print('The number of customers with a single order only is {}'.format(one_order_tot))

The number of customers with a single order only is 1

## Question 2b: How many customers have more than two purchases

In [62]:
over_two_order_tot = 0
for _, count in order_count.most_common():
    if count > 2: 
        over_two_order_tot += 1

print('The number of customers with over two orders is {}'.format(over_two_order_tot))

The number of customers with over two orders is 1

## Question 3: Find out how many customers purchased items in 2018 and not 2019

In [63]:
# Create variable for just the year

df['Year'] = df.Fiscal_Yearmo.astype(str).str[:4]


# Use set operations to deduplicate customers who bought both years

fy2018 = set(df.Cust_Id[df.Year == "2018"])
fy2019 = set(df.Cust_Id[df.Year == "2019"])

# Deduplicate 2018 customers against 2019 customers

fy2018_only = fy2018.difference(fy2019)

In [64]:
print('Number of Customers (unique) who only purchased items in 2018 is {}'.format(len(fy2018_only)))

Number of Customers (unique) who only purchased items in 2018 is 2

In [65]:
print('List of Customers below:')

fy2018_only

List of Customers below:

{2, 3}

# Part 2

## Question 1: Aggregate the data to a customer level

In [66]:
#  Create a pivot table indexed by Customer ID with summary statistics

cust_pivot_tab = pd.pivot_table(df, values = ['Sale_Amt_Adj'], index = ['Cust_Id', 'Gender', 'Year'],
                           aggfunc = {'Sale_Amt_Adj': [min, max, np.std, np.mean]})

print('Aggregated customer statistics below:')
cust_pivot_tab.round(2)

Aggregated customer statistics below:

                    Sale_Amt_Adj
                             max   mean    min    std
Cust_Id Gender Year
1       F      2018        140.0   78.5   17.0  86.97
               2019         56.0   56.0   56.0    NaN
2       M      2018         30.0   22.5   15.0  10.61
3       F      2018        150.0  150.0  150.0    NaN

## Question 2: Create a summary report

In [67]:
# create unique count of different gendered customers

n_cust_f = len(set(df.Cust_Id[df.Gender == "F"]))
n_cust_m = len(set(df.Cust_Id[df.Gender == "M"]))
n_cust_tot = (n_cust_f + n_cust_m)

In [68]:
# Create pivot table indexed by gender

gend_pivot_tab = pd.pivot_table(df, values = 'Sale_Amt_Adj', 
                                columns = 'Year', index = 'Gender', 
                                aggfunc = np.mean, margins = True)

# Insert separate customer count column for Customer count (unique)

# Create new name
new_col = [n_cust_f, n_cust_m, n_cust_tot]

gend_pivot_tab.insert(loc = 0, column = "Customers", value = new_col)

# Name the columns

gend_pivot_tab.columns = ['# of Customers', '2018 Average Sales', '2019 Average Sales', 'Overall Average Sales']

In [69]:
print('Replicated table below:')
gend_pivot_tab.round(2)

Replicated table below:

,# of Customers,2018 Average Sales,2019 Average Sales,Overall Average Sales
Gender,,,,
F,2,102.33,56.0,90.75
M,1,22.50,NaN,22.50
All,3,70.40,56.0,68.00